{% extends "template.html.twig" %}

{% block headerblock %}
	{% include 'header.html.twig' with {'categories': cats } %}
{% endblock %}

{% block title %}
	{{ session.username }}'s Account
{% endblock %}

{% block content %}
	Bienvenue
	{{ session.username }}

	<a href="{{ path('recipeAdd') }}">Add a recipe</a>


	<ul>
		{% for recipe in userRecipes %}
			<div id="recipe-card">
				<li>
					{# <a href="{{ path('baseRecipe') }}{{ recipe.id }}"> #}
						<h2>{{ recipe.title }}</h2>
					{# </a> #}
				</li>
				<li>
					<p>{{ recipe.content }}</p>
				</li>
				<div>
					<form action="{{ router.generate('editRecipe', {'id': recipe.id}) }}" method="GET">
    <input type="submit" value="Edit">
</form>



					<form action="{{ router.generate('deleteRecipe', {'id': recipe.id}) }}" method="POST">
    					<input type="hidden" name="_method" value="DELETE">
    					<input type="submit" value="Delete">
					</form>
				</div>

			</div>
		{% endfor %}
	</ul>
{% endblock %}
