{% extends "template.html.twig" %}

{% block title %}
	Formulaire d'ajout de location
{% endblock %}

{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}
{% block content %}
	<section class="addrental">
		<nav class="breadcrumb" aria-label="breadcrumb">
			<ol class="ol-breadcrumb">
				<li class="breadcrumb-item">
					<a href="../view/dashboard.html">Dashboard</a>
				</li>
				<img src="../asset/media/icon/fleche.svg" alt="fleche">
				<li class="breadcrumb-item active" aria-current="page">Propriete</li>
			</ol>
		</nav>
		<div class="form-cart">
			<form action="" method="post" class="profil-information">
				<h2>Formulaire d'ajout de location</h2>
				<div class="name-lastname">
					<div class="label-input">
						<div class="name">
							<label for="title">Nom de la location:</label>
							<input type="text" id="name" name="title" value="">
						</div>
						<div class="address">
							<label for="address">Adresse:</label>
							<input type="text" id="address" name="address" value="">
							<div id="autocomplete-items"></div>

						</div>
					</div>
					<div class="label-input">
						<div class="name">
							<label for="city">ville:</label>
							<input type="text" id="city" name="city" value="">
						</div>
						<div class="address">
							<label for="country">pays:</label>
							<input type="text" id="country" name="country" value="">
						</div>
					</div>

					<label for="price">Prix:</label>
					<input type="text" id="price" name="price" value="">
					<div class="latitude-logitude">
						<label for="latitude"></label>
						<input type="text" id="latitude" name="latitude" value="">
						<label for="longitude"></label>
						<input type="text" id="longitude" name="longitude" value="">
					</div>

					<label for="content">Description:</label>
					<textarea id="description" name="content"></textarea>
					<label for="image">photos du bien</label>
					<input type="file" id="image" name="image" value="" class="file">
				</div>
				<div class="add-edit-delete">
					<input type="submit" value="Ajouter la location" id="save-changes-btn">

				</form>
				<form action="">
					<input type="submit" value="update" id="save-changes-btn">
				</form>
				<form action="">
					<input type="submit" value="delete" id="delete-changes-btn">
				</form>
			</div>
			<div class="cart">

				<div id="mapid"></div>


			</div>
		</div>
		{# container propriete #}
		<div class="container-propriete">
			{% if wishlist|length > 0 %}
				{% for wish in wishlist %}
					{% for rental in rentals %}
						{% if rental.id_rental == wish.id_rental %}
							<div class="card">
								<i id="heart" class="heart fa-regular fa-heart"></i>
								<div class="img-card">
									<a href="{{ path('baseRental') ~ rental.id_rental ~ '/' ~ rental.id_user }}">

										<img class='size-img' src="{{ asset('/media/images/' ~ rental.cover) }}" alt="gite en Foret">
									</a>
								</div>
								<div class="content-card">

									<div class="title-prince">
										<div class="h1-title-card">

											<h1>
												{{  rental.title }}
											</h1>
										</div>
										<div class="prince">

											<span>{{ rental.price }}</span>
											<span>€</span>
										</div>
									</div>
									<div class="location-card">
										<span class="city">{{ rental.city }}</span>
										<span>,</span>
										<span class="country">{{ rental.country }}</span>
									</div>
									<div class="rating-card">
										<span class="rating">4.8</span>
										<span>
											<img src="{{ asset('/media/icon/etoile.svg') }}" alt="star rating" class="size-img-star">
										</span>
									</div>

								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>

	</section>
{% endblock %}
