{% extends "template.html.twig" %}

{% block title %}Favoris enregistrés
{% endblock %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block content %}
	<!-- Favoris -->
	<section id="homepage" class="limit-size">
		<nav class="breadcrumb" aria-label="breadcrumb">
			<ol class="ol-breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('dashboard') }}">
						&#x3008; Dashboard</a>
				</li>
			</ol>
		</nav>

		<div class="gallery-grid">
			{% if wishlist|length == 0 %}
				<p>Vous n'avez aucun favoris enregistrés.</p>
			{% else %}
				{% for wish in wishlist %}
					{% for rental in rentals %}
						{% if rental.id_rental == wish.id_rental %}
							<div class="card">
								<a href="{{ path('deleteFavoris') }}{{ rental.id_rental }}">
									<img class="heart" src="{{ asset('/media/icon/heart-full.svg') }}" alt="">
								</a>
								<div class="img-card">
									<a href="{{ path('baseRental') }}{{ rental.id_rental }}">
										<img src="{{ asset('/media/images/' ~ rental.cover) }}" alt="gite en Foret">
									</a>
								</div>
								<div class="txt-card">
									<a href="{{ path('baseRental') }}{{ rental.id_rental }}">
										<div class="title-card">
											<div class="h1-card">
												<h1>{{ rental.title }}</h1>
											</div>
											<p>{{ rental.price }}€</p>
										</div>
										<h2 class="h2-card">{{ rental.country }}</h2>
										<div class="note-card">
											<p>4</p>
											<span>
												<img src="{{ asset('/media/icon/etoile.svg') }}" alt="">
											</span>
										</div>
									</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}
