{% extends "template.html.twig" %}

{% block title %}
	Favoris
{% endblock %}


{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}

{% block content %}
	<!-- Favoris -->
	<section
		class="favoris">
		<!-- fil d'ariane  breadcrumb -->
		<nav class="breadcrumb" aria-label="breadcrumb">
			<ol class="ol-breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('dashboard') }}">Dashboard</a>
				</li>
				<span>></span>
				<li class="breadcrumb-item active" aria-current="page">Favoris</li>
			</ol>
		</nav>
		<div class="container-favoris">
			{% if wishlist|length == 0 %}

				<p> ha bah c'est malin ta pas de favoris</p>

				{% else %}
				{% for wish in wishlist %}
					{% for rental in rentals %}
						{% if rental.id_rental == wish.id_rental %}
							<div class="card">
								<i id="heart" class="heart fa-regular fa-heart"></i>
								<div class="img-card">
									<a href="{{ path('baseRental') ~ rental.id_rental ~ '/' ~ rental.id_user }}">

										<img class='size-img' src="{{ asset('/media/images/' ~ rental.cover) }}" alt="gite en Foret">
									</a>
								</div>
								<div class="content-card">

									<div class="title-prince">
										<div class="h1-title-card">

											<h1>
												{{  rental.title }}
											</h1>
										</div>
										<div class="prince">

											<span>{{ rental.price }}</span>
											<span>€</span>
										</div>
									</div>
									<div class="location-card">
										<span class="city">{{ rental.city }}</span>
										<span>,</span>
										<span class="country">{{ rental.country }}</span>
									</div>
									<div class="rating-card">
										<span class="rating">4.8</span>
										<span>
											<img src="{{ asset('/media/icon/etoile.svg') }}" alt="star rating" class="size-img-star">
										</span>
									</div>

								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
	</section>
{% endblock %}
