{% block header %}
	<header>
		<div class="header-limit-size">
			<div class="logo">
				<a href="{{ path('home') }}">
					<h1>GiteFinder</h1>
				</a>
			</div>
			<div class="button-search">
				<img src="{{ asset('/media/icon/magnifying-glass-solid.svg') }}" alt="Search in GiteFinder">
			</div>
			<!-- search bar -->
			<form action="#" method="GET" class="search-bar-form">
				<div class="search-bar ">

					<input type=" text" id="location-input" placeholder="Location">
					<div class="date-inputs">
						<input type="text" name="dateArrivee" id="date-arrive" class="date-arrive" placeholder="Date d'arrivée" required/>
						<input type="text" name="dateDepart" id="date-depart" class="date-depart" placeholder="Date de départ" required/>
						<div id='calendar'></div>
					</div>

					<select id="guests-input">
						<option value="1">1 Personne</option>
						<option value="2">2 Personnes</option>
						<option value="3">3 Personnes</option>
						<option value="4">4 Personnes</option>
						<option value="5">5 Personnes</option>
						<option value="6">6 Personnes</option>
						<option value="7">7 Personnes</option>
						<option value="8">8 Personnes</option>
					</select>
					<button type="submit" id="search-button">Search</button>

				</div>
			</form>
			{% if session.connect %}
				<div class="burger-profil">
					<div class="img-username">
						<div class="img-profile">
							<a href="{{ path('userProfil') }}">
								<img src="{{ asset('/media/images/' ~ session.avatar ) }}" alt=""></a>
						</div>
					</div>
					<div class="menu-burger-header raise">
						<img class="img-burger" src="{{ asset('/media/icon/bars-solid.svg') }}" alt="menu burger">
					</div>
					<div id="burger-menu-modal">
						<ul>
							<a href="{{path('dashboard')}}">
								<li>Dashboard</li>
							</a>

							<a href="{{path('userFavoris')}}">
								<li>Favoris</li>
							</a>


							<a href="{{path('userReservations')}}">
								<li>Réservation</li>
							</a>

						</ul>
					</div>


					<a href="{{ path('logout') }}">

						<div class="sign">
							<svg viewbox="0 0 512 512">
								<path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
							</svg>
						</div>

						<div class="text">Logout</div>
					</a>
				</button>
			</div>

			{% else %}
				<div
					class="menu-burger-header">
					{# <img class="img-burger" src="{{ asset('/media/icon/bars-solid.svg') }}" alt="menu burger"> #}
					<a href="{{ path('login') }}"><img class="img-burger border-user" src="{{ asset('/media/icon/user-solid.svg') }}" alt="Connexion et inscription"></a>
				</div>


			{% endif %}

		</div>
	</header>
{% endblock %}
