<header>
	<div class="header-limit-size">
		<div class="logo">
			<a href="{{ path('home') }}"><h1>GiteFinder</h1></a>
		</div>
		<div class="button-search">
			<img src="{{ asset('/media/icon/magnifying-glass-solid.svg') }}" alt="Search in GiteFinder">
		</div>
		<!-- search bar -->
		<form action="#" method="post" class="search-bar-form">
			<div class="search-bar ">

				<input type=" text" id="location-input" placeholder="Location">
				<div class="date-inputs">
					<input type="text" name="dateArrivee" id="dateArrivee" placeholder="Date d'arrivée" required/>
					<input type="text" name="dateDepart" id="dateDepart" placeholder="Date de départ" required/>
					<div id='calendar'></div>
				</div>

				<select id="guests-input">
					<option value="1">1 Personne</option>
					<option value="2">2 Personnes</option>
					<option value="3">3 Personnes</option>
					<option value="4">4 Personnes</option>
					<option value="5">5 Personnes</option>
					<option value="6">6 Personnes</option>
					<option value="7">7 Personnes</option>
					<option value="8">8 Personnes</option>
				</select>
				<button type="submit" id="search-button">Search</button>

			</div>
		</form>

		<div class="menu-burger-header">
			
				<a href="#" ><img class="img-burger" src="{{ asset('/media/icon/bars-solid.svg') }}" alt="menu burger"></a>
				<a href="{{ path('login') }}"><img class="img-burger border-user" src="{{ asset('/media/icon/user-solid.svg') }}" alt="Connexion et inscription"></a>
			
		</div>
	</div>
</header>