{% extends "template.html.twig" %}

{% block title %}Bienvenue sur la page d'accueil
{% endblock %}

{% block header %}
	{% include 'header.html.twig' with {'categories' : cats } %}
{% endblock %}


{% block content %}

	{# <!-- section homePage gallery-grid --> #}
	<section id="homepage" class="limit-size">
		<div class="gallery-grid">
			{% for rental in rentals %}
				<div class="card">
					<i id="heart" class="heart fa-regular fa-heart"></i>
					<div class="img-card">
						<a href="{{ rental.id }}">
							<img src="{{ asset('/media/images/chalet-foret-nuit.jpg') }}" alt="gite en Foret">
						</a>
					</div>
					<div class="txt-card">
						<a href="{{ rental.id }}">
							<div class="title-card">
								<div class="h1-card">
									<h1>{{ rental.title }}</h1>
								</div>
								<p>{{ rental.price }}</p>
							</div>
							<h2 class="h2-card">{{ rental.country }}</h2>
							<div class="note-card">
								<p>4.3</p>
								<!-- <i class="fas fa-star"></i> -->
								<span>
									<img src="{{ asset('/media/icon/etoile.svg')}}" alt="">
								</span>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>


{% endblock %}
