{% extends "template.html.twig" %}

{% block title %}Annonce
{% endblock %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block content %}

	{# section post article #}
	<section class="article">
		<div class="container-article-img">
			<div class="title-article">
				<h1 class="h1-title-article">{{ rental.title }}</h1>
			</div>
			<div class="rating-comment-location-share-like">
				<div class="rating">
					<img src="{{ asset('/media/icon/etoile.svg') }}" alt="rating">
					<span>4.83</span>
				</div>
				<div class="comment">
					<span>64</span>
					<span>commentaires</span>
				</div>
				<div class="location">
					<span>{{ rental.address }},
					</span>
				</div>
				<!-- share -->


			</div>
			<!-- Image principale -->
			<div class="container-img">
				<div class="img-article" id="mainImageContainer">
					<img id="mainImage" src="{{ asset('/media/images/' ~ rental.cover) }}" alt="">
				</div>
				<!-- Slider d'images -->
				<div id="sliderContainer">
				{% for picture in picture %}
					<img class="sliderImage" src="{{ asset('/media/images/chalet-foret-nuit.jpg') }}" alt="">
					<img class="sliderImage" src="{{ asset('/media/images/chalet-foret-nuit.jpg') }}" alt="">
					<img
					class="sliderImage" src="{{ asset('/media/images/' ~ picture.rental_id  ~ picture.title) }}" alt="">
				<!-- Ajoutez plus d'images de slider si nécessaire -->
				{%  endfor  %}
				</div>
			</div>
		</div>

		<!-- profil-content-reservation-map -->
		<div class="profil-content-reservation-map">
			<div
				class="row-limit-size-flex">
				<!-- profil-article-content -->
				<div class="profil-article">
					<div class="profil-user-article">
						<div class="img-profil">
							<img src="../asset/media/icon/instagram.svg" alt="">
						</div>
						<div class="profil-span">
							<span>Proposé par<span class="profil-user">{{ user.firstname }}</span>
							</span>
							<span class="date-profil">Menbre depuis<span>janvier 2019</span>
							</span>
						</div>
						<button id="btn-profil">Contacter l'hote</button>
					</div>
					<!-- content-article -->
					<div class="content-article">
						<div class="title-star-rating">
							<div class="title-article">
								<h1 class="h1-title-article">{{ rental.title }}</h1>
								<h2 class="h2-content-article">{{ rental.capacity }}
									voyageurs · 1 lit Demi-salle de bain</h2>
							</div>
							<div class="star-rating">
								<i class="far fa-star star" id="star0" data-gite-id="{{ gite.id }}" data-user-id="{{ app.user.id }}"></i>
								<i class="far fa-star star" id="star1" data-gite-id="{{ gite.id }}" data-user-id="{{ app.user.id }}"></i>
								<i class="far fa-star star" id="star2" data-gite-id="{{ gite.id }}" data-user-id="{{ app.user.id }}"></i>
								<i class="far fa-star star" id="star3" data-gite-id="{{ gite.id }}" data-user-id="{{ app.user.id }}"></i>
								<i class="far fa-star star" id="star4" data-gite-id="{{ gite.id }}" data-user-id="{{ app.user.id }}"></i>
							</div>
						</div>

						<!-- description article -->
						<div class="content-paragragraphe-article">
							<p class="content-p">{{ rental.content }}</p>
							<!-- annonce info -->
							<div class="user-location-condition">
								<div class="condition">
									<div class="condition-img-span">
										<div class="img-p">
											<img src="{{ asset('/media/icon/location-dot-solid.svg') }}" alt="location">
										</div>
										<div class="condition-p">
											<p class='content-p'>Idéalement situé</p>
											<p class='content-p'>100 % des voyageurs ont attribué 5 étoiles à l'emplacement du logement.</p>
										</div>
									</div>
								</div>
								<hr>
								<div class="condition">
									<div class="condition-img-span">
										<div class="img-p">
											<img src="{{ asset('/media/icon/key-solid.svg') }}" alt="location">
										</div>
										<div class="condition-p">
											<p class='content-p'>Procédure d'arrivée irréprochable</p>
											<p class='content-p'>100 % des voyageurs ont attribué 5 étoiles à l'emplacement du logement.</p>
										</div>
									</div>
								</div>
								<hr>
								<div class="condition">
									<div class="condition-img-span">
										<div class="img-p">
											<img src="{{ asset('/media/icon/location-dot-solid.svg') }}" alt="location">
										</div>
										<div class="condition-p">
											<p class='content-p'>Annulation gratuite avant le 30 juin.</p>
										</div>
									</div>
								</div>
								<hr>
								<!-- condition de prevention  -->
								<div class="content-user-for-utulisateur">
									<span class='content-p'>Pendant votre séjour :</span>
									<p class="p-user-condition content-p">Merci de prévenir de votre horaire d'arrivée par SMS. Parking privé et sécurisé. On vous aide à monter vos bagages avec une corde.Taux de réponse : 100% Délai de réponse : Moins d'une heure</p>
								</div>
							</div>
							<hr>
							<!-- liste ce que propose le logement  -->
							<div class="container-condition">


								<div class="list-container-rental">
									<h4 class="title-liste">Ce que propose ce logement</h4>
									<div class="list-ul">
										<ul class="ul-list">
											<li>Parking gratuit sur place</li>
											<li>Patio ou balcon : privé(e)</li>
											<li>Brasero</li>
											<li>Petit déjeuner</li>
										</ul>

										<ul class="ul-list">
											<li>Petit déjeuner</li>
											<li>Déjeuner</li>
											<li>Gouter</li>
											<li>Diner</li>
										</ul>
									</div>
								</div>
								<hr>
								<div class="list-stuf-container-rental">
									<div class="liste-rental">

										<span class="title-liste">Equipements</span>


										<ul class="ul-list">
											<li>Parking gratuit sur place</li>
											<li>Patio ou balcon : privé(e)</li>
											<li>Brasero</li>
											<li>Petit déjeuner</li>
										</ul>
									</div>

									<div class="liste-rental">
										<span class="title-liste">Chambre et linge</span>
										<ul class="ul-list">
											<li>Petit déjeuner</li>
											<li>Déjeuner</li>
											<li>Gouter</li>
											<li>Diner</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- card-reservation-map-article -->
				<div
					class="scrool-container-card-maps">
					{# share #}
					<div class="card-share">

						<button id="facebookShareButton">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 48 48">
								<g stroke-width="0" id="SVGRepo_bgCarrier"></g>
								<g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
								<g id="SVGRepo_iconCarrier">
									<circle fill="#3B5998" r="20" cy="24" cx="24"></circle>
									<path fill="white" d="M29.315 16.9578C28.6917 16.8331 27.8498 16.74 27.3204 16.74C25.8867 16.74 25.7936 17.3633 25.7936 18.3607V20.1361H29.3774L29.065 23.8137H25.7936V35H21.3063V23.8137H19V20.1361H21.3063V17.8613C21.3063 14.7453 22.7708 13 26.4477 13C27.7252 13 28.6602 13.187 29.8753 13.4363L29.315 16.9578Z" clip-rule="evenodd" fill-rule="evenodd"></path>
								</g>
							</svg>
						</button>
						<button id="instagramShareButton">
							<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024">
								<g stroke-width="0" id="SVGRepo_bgCarrier"></g>
								<g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
								<g id="SVGRepo_iconCarrier">
									<circle style="fill:#e4405f" r="512" cy="512" cx="512"></circle>
									<path style="fill:#fff" d="M512 256c-69.5 0-78.2.3-105.5 1.5-27.3 1.3-45.8 5.6-62.1 11.9-16.8 6.5-31.1 15.3-45.4 29.5s-23 28.5-29.5 45.4c-6.3 16.3-10.6 34.9-11.9 62.1-1.3 27.3-1.5 36-1.5 105.5s.3 78.2 1.5 105.5c1.3 27.2 5.6 45.8 11.9 62.1 6.5 16.8 15.3 31.1 29.5 45.4 14.2 14.2 28.5 23 45.4 29.5 16.3 6.3 34.9 10.6 62.1 11.9 27.3 1.3 36 1.5 105.5 1.5s78.2-.3 105.5-1.5c27.2-1.3 45.8-5.6 62.1-11.9 16.8-6.5 31.1-15.3 45.4-29.5 14.2-14.2 23-28.5 29.5-45.4 6.3-16.3 10.6-34.9 11.9-62.1 1.3-27.3 1.5-36 1.5-105.5s-.3-78.2-1.5-105.5c-1.3-27.2-5.6-45.8-11.9-62.1-6.5-16.8-15.3-31.1-29.5-45.4-14.2-14.2-28.5-23-45.4-29.5-16.3-6.3-34.9-10.6-62.1-11.9-27.3-1.2-36-1.5-105.5-1.5zm0 46.1c68.3 0 76.5.3 103.5 1.5 25 1.2 38.5 5.3 47.5 8.9 12 4.6 20.5 10.2 29.5 19.1 8.9 9 14.5 17.5 19.1 29.5 3.5 9 7.7 22.5 8.8 47.5 1.2 27 1.5 35.1 1.5 103.5s-.3 76.5-1.6 103.5c-1.3 25-5.5 38.5-9 47.5-4.8 12-10.2 20.5-19.2 29.5-8.9 8.9-17.6 14.5-29.4 19.1-9 3.5-22.7 7.7-47.7 8.8-27.2 1.2-35.2 1.5-103.7 1.5s-76.5-.3-103.7-1.6c-25-1.3-38.7-5.5-47.7-9-12.1-4.8-20.5-10.2-29.4-19.2-9-8.9-14.7-17.6-19.2-29.4-3.5-9-7.7-22.7-9-47.7-1-26.9-1.3-35.2-1.3-103.3 0-68.2.3-76.5 1.3-103.7 1.3-25 5.4-38.7 9-47.7 4.5-12.2 10.2-20.5 19.2-29.5 8.9-8.9 17.3-14.7 29.4-19.2 9-3.5 22.4-7.7 47.4-9 27.2-1 35.2-1.3 103.7-1.3l1 .7zm0 78.4c-72.6 0-131.5 58.9-131.5 131.5S439.4 643.5 512 643.5 643.5 584.6 643.5 512 584.6 380.5 512 380.5zm0 216.8c-47.1 0-85.3-38.2-85.3-85.3s38.2-85.3 85.3-85.3 85.3 38.2 85.3 85.3-38.2 85.3-85.3 85.3zm167.4-221.9c0 17-13.8 30.7-30.7 30.7-17 0-30.7-13.8-30.7-30.7s13.8-30.7 30.7-30.7c16.9-.1 30.7 13.7 30.7 30.7z"></path>
								</g>
							</svg>
						</button>
						<button id="twitterShareButton">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 32 32">
								<g stroke-width="0" id="SVGRepo_bgCarrier"></g>
								<g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
								<g id="SVGRepo_iconCarrier">
									<path fill="#47ACDF" d="M11.7887 28C8.55374 28 5.53817 27.0591 3 25.4356C5.15499 25.5751 8.95807 25.2411 11.3236 22.9848C7.76508 22.8215 6.16026 20.0923 5.95094 18.926C6.25329 19.0426 7.6953 19.1826 8.50934 18.856C4.4159 17.8296 3.78793 14.2373 3.92748 13.141C4.695 13.6775 5.99745 13.8641 6.50913 13.8174C2.69479 11.0882 4.06703 6.98276 4.74151 6.09635C7.47882 9.88867 11.5812 12.0186 16.6564 12.137C16.5607 11.7174 16.5102 11.2804 16.5102 10.8316C16.5102 7.61092 19.1134 5 22.3247 5C24.0025 5 25.5144 5.71275 26.5757 6.85284C27.6969 6.59011 29.3843 5.97507 30.2092 5.4432C29.7934 6.93611 28.4989 8.18149 27.7159 8.64308C27.7224 8.65878 27.7095 8.62731 27.7159 8.64308C28.4037 8.53904 30.2648 8.18137 31 7.68256C30.6364 8.52125 29.264 9.91573 28.1377 10.6964C28.3473 19.9381 21.2765 28 11.7887 28Z"></path>
								</g>
							</svg>
						</button>
						<button id="whatsappShareButton">


							<svg width="50" height="50" viewbox="0 0 60 81" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_942_1484)">
									<rect y="0.883545" width="60" height="60" rx="13.28" fill="url(#paint0_linear_942_1484)"/>
									<path d="M19.7658 48.8171L19.0674 48.4077L18.2808 48.5994L10.934 50.3898L12.8238 43.3111L13.0436 42.4875L12.6017 41.7584C10.4114 38.1456 9.37855 33.9212 9.68478 29.6612C10.0593 24.4518 12.408 19.5818 16.2514 16.0454C20.0949 12.509 25.1432 10.5729 30.3657 10.6324C35.5882 10.692 40.5911 12.7426 44.3529 16.3657C48.1147 19.9889 50.3518 24.9112 50.6074 30.1278C50.8631 35.3444 49.1179 40.4619 45.7284 44.4354C42.3388 48.4089 37.5604 50.9389 32.3687 51.5087C27.9672 51.9918 23.5499 51.0352 19.7658 48.8171Z" stroke="white" stroke-width="4"/>
									<path d="M26.288 25.5989L25.0721 21.951C24.8093 21.1628 24.0716 20.6311 23.2407 20.6311C22.1965 20.6311 21.132 20.9265 20.4433 21.7114C19.422 22.8752 19.132 24.1082 19.1321 25.6311C19.1321 31.1311 28.6321 41.1311 35.6321 41.6311C38.3136 41.8226 40.5957 40.8728 41.407 37.4553C41.5946 36.6654 41.1665 35.8772 40.4538 35.4884L37.5541 33.9068C36.725 33.4545 35.6925 33.6439 35.0779 34.361L33.5616 36.13C33.3011 36.4339 32.8826 36.5559 32.5057 36.4209C29.2615 35.2587 27.5414 33.4221 25.0412 29.7395C24.7966 29.3791 24.8169 28.9001 25.089 28.56L25.9524 27.4807C26.3762 26.951 26.5025 26.2425 26.288 25.5989Z" fill="white"/>
								</g>
								<path d="M2.81836 77.8835L0.539062 69.4285H1.9043L3.45703 76.0027H3.53906L5.30273 69.4285H6.52148L8.29688 76.0027H8.37891L9.92578 69.4285H11.291L9.00586 77.8835H7.76953L5.95312 71.5613H5.87109L4.06055 77.8835H2.81836ZM12.791 77.8835V69.0242H14.0625V72.4871H14.1562C14.4668 71.8074 15.0762 71.3972 16.002 71.3972C17.4258 71.3972 18.2109 72.2468 18.2109 73.7644V77.8835H16.9453V74.0632C16.9453 73.0085 16.5059 72.4871 15.5742 72.4871C14.6426 72.4871 14.0625 73.1257 14.0625 74.1511V77.8835H12.791ZM21.7324 77.989C20.5195 77.989 19.623 77.2507 19.623 76.0964V76.0847C19.623 74.948 20.4785 74.2859 21.9961 74.1921L23.7188 74.0925V73.53C23.7188 72.8328 23.2793 72.446 22.418 72.446C21.7148 72.446 21.252 72.7039 21.0996 73.155L21.0938 73.1785H19.8691L19.875 73.1375C20.0273 72.0945 21.0293 71.3972 22.4766 71.3972C24.0762 71.3972 24.9785 72.1941 24.9785 73.53V77.8835H23.7188V76.9812H23.6191C23.2441 77.6257 22.5762 77.989 21.7324 77.989ZM20.8887 76.0437C20.8887 76.6296 21.3867 76.9753 22.0723 76.9753C23.0215 76.9753 23.7188 76.3542 23.7188 75.5339V74.989L22.166 75.0886C21.2871 75.1414 20.8887 75.4578 20.8887 76.032V76.0437ZM29.1738 77.9246C27.7734 77.9246 27.1992 77.4324 27.1992 76.2078V72.5222H26.2031V71.5203H27.1992V69.9148H28.4941V71.5203H29.8594V72.5222H28.4941V75.9031C28.4941 76.5886 28.752 76.8699 29.3789 76.8699C29.5723 76.8699 29.6836 76.864 29.8594 76.8464V77.8601C29.6543 77.8953 29.4199 77.9246 29.1738 77.9246ZM33.5625 78.0066C32.0273 78.0066 31.0547 77.2859 30.9316 76.2195V76.2136H32.2031L32.209 76.2195C32.3672 76.7 32.8301 77.0222 33.5859 77.0222C34.3711 77.0222 34.916 76.6648 34.916 76.1433V76.1316C34.916 75.7332 34.6172 75.4636 33.8789 75.2937L32.8652 75.0593C31.6641 74.7839 31.1074 74.239 31.1074 73.3074V73.3015C31.1074 72.1941 32.1387 71.3972 33.5801 71.3972C35.0332 71.3972 35.9648 72.1238 36.0762 73.1609V73.1667H34.8633V73.155C34.7402 72.7097 34.2891 72.3757 33.5742 72.3757C32.877 72.3757 32.373 72.7214 32.373 73.2312V73.2429C32.373 73.6414 32.666 73.8875 33.3809 74.0574L34.3887 74.2859C35.6133 74.573 36.1992 75.0945 36.1992 76.0144V76.0261C36.1992 77.2039 35.0742 78.0066 33.5625 78.0066ZM37.0723 77.8835L40.125 69.4285H41.543L44.5957 77.8835H43.2129L42.4512 75.5984H39.2168L38.4492 77.8835H37.0723ZM40.7812 70.9109L39.5684 74.5437H42.0996L40.8809 70.9109H40.7812ZM45.9199 80.0046V71.5203H47.1914V72.5222H47.2852C47.6543 71.825 48.3516 71.4089 49.2422 71.4089C50.8477 71.4089 51.8789 72.6921 51.8789 74.696V74.7078C51.8789 76.7234 50.8594 77.989 49.2422 77.989C48.3691 77.989 47.625 77.5613 47.2852 76.8757H47.1914V80.0046H45.9199ZM48.8848 76.905C49.9453 76.905 50.584 76.073 50.584 74.7078V74.696C50.584 73.325 49.9453 72.4988 48.8848 72.4988C47.8242 72.4988 47.168 73.3367 47.168 74.696V74.7078C47.168 76.0671 47.8242 76.905 48.8848 76.905ZM53.4082 80.0046V71.5203H54.6797V72.5222H54.7734C55.1426 71.825 55.8398 71.4089 56.7305 71.4089C58.3359 71.4089 59.3672 72.6921 59.3672 74.696V74.7078C59.3672 76.7234 58.3477 77.989 56.7305 77.989C55.8574 77.989 55.1133 77.5613 54.7734 76.8757H54.6797V80.0046H53.4082ZM56.373 76.905C57.4336 76.905 58.0723 76.073 58.0723 74.7078V74.696C58.0723 73.325 57.4336 72.4988 56.373 72.4988C55.3125 72.4988 54.6562 73.3367 54.6562 74.696V74.7078C54.6562 76.0671 55.3125 76.905 56.373 76.905Z" fill="white"/>
								<defs>
									<linearGradient id="paint0_linear_942_1484" x1="30" y1="0.883545" x2="30" y2="60.8835" gradientunits="userSpaceOnUse">
										<stop stop-color="#00FF68"/>
										<stop offset="1" stop-color="#00D624"/>
									</linearGradient>
									<clipPath id="clip0_942_1484">
										<rect y="0.883545" width="60" height="60" rx="13.28" fill="white"/>
									</clipPath>
								</defs>
							</svg>


						</button>


					</div>

					{# reservation #}
					<div class=" card-map-article">
						<div class="card-reservation">
							<div class="prince-rating-comment">
								<div class="prince-device">
									<span class="prince">{{ rental.price }}</span>
									<span class="devise">€</span>
									<span class='night-card-reservation'>par nuit</span>
								</div>
								<div class="star-rating">
									<i class="fa-solid fa-star"></i>
									<span class="rating">4.83</span>
								</div>
							</span>
							<div class="comment">
								<span class="number-comment">64</span>
								<span class="sapn-comment">Comments</span>
							</div>
						</div>

						<div class="form-card-reservation">

							<form action="{{ path('addReservation') }}" method="POST">
								<div class="form-reservation">
									<div class="label">
										<label for="arrivee">Date arrivée</label>
										<label for="depart">Date depart</label>
									</div>

									<div class="form-date-arrivee-depart">
										<input type="date" name="arrivee" class="date-arrive" id="date-arrive" placeholder="Date arrivée" title="Sélectionnez votre date d'arrivée">
										<input type="text" name="depart" class="date-depart" id="date-depart" placeholder="Date depart" title="Sélectionnez votre date de départ">
									</div>
									{# <p class="stay-duration"></p> #}

									<div class="guest-input">
										<select id="input-select" name="personnes">
											<option value="1">1 Personne</option>
											<option value="2">2 Personnes</option>
											<option value="3">3 Personnes</option>
											<option value="4">4 Personnes</option>
											<option value="5">5 Personnes</option>
											<option value="6">6 Personnes</option>
											<option value="7">7 Personnes</option>
											<option value="8">8 Personnes</option>
										</select>
									</div>

									<!-- Les champs cachés -->
									<input type="hidden" id="duration" name="duration">
									<input type="hidden" id="total" name="total">
									<input type="hidden" name="id_post" value="{{ rental.id_rental }}">
									<input type="hidden" name="price" value="{{ rental.price }}">


								</div>

								<div class="btn-reservation">
									<button type="submit" id="search-button" name="submit">Reserver</button>
								</div>
							</form>

							<div class="card-span-reservation">
								<span class="span-card">Aucun montant ne vous sera débité pour le moment</span>
							</div>

							<div class="prince-card-reservation">
								<div id="price-per-night" data-price="{{ rental.price }}"></div>

								<div class="day-prince">
									<div class="prince-for-day">
										<span id="price-per-night-display">{{ rental.price }}€</span>
										<span>x</span>
										<span id="num-nights"></span>
									</div>

									<div class="prince">
										<span id="sub-total-span">550</span>
										<span>€</span>
									</div>
								</div>

								<hr>

								<div class="tax-for-days">
									<div class="tax-for-day">
										<span>Taxe (5%)</span>
									</div>

									<div class="tax">
										<span id="tax-total-span">0</span>
										<span>€</span>
									</div>
								</div>

								<hr>

								<div class="total-prince">
									<span class="span-prince">Total</span>
									<span id="total-span">550</span>
									<span class="device-total-span">€</span>
								</div>
							</div>
						</div>
					</div>
					<!-- map -->
					<div class="map-container">
						<div
							class="map">
							{# <div id="mapid"></div> #}
							<div style="height:280px;" id="mapid" data-latitude="{{ rental.latitude }}" data-longitude="{{ rental.longitude }}"></div>


						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="comment-container">
			<div class="comment">
				<h3>commentaire</h3>
			</div>

			<div class="star-comment">
				<div class="star">
					<img src="{{ asset('/media/icon/etoile.svg') }}" alt="star">
					<span>4.83</span>
				</div>

				<div class="comment">
					<span>64</span>
					<span>Comments</span>
				</div>
			</div>
		</div>

		<!-- comment img and p -->
		<div class="comment-flex">
			<div class="comment-img-p">
				<div class="img-comment">
					<img src="../asset/media/icon/instagram.png" alt="">
				</div>
				<div class="name-comment-p">
					<div class="name-rating">
						<div class="name-comment">
							<p class="name">karim</p>
						</div>
						<div class="note-card">
							<span>4</span>
							<img class='img-note-card' src="{{ asset('/media/icon/etoile.svg') }}" alt="">
						</div>
					</div>
					<div class="p-comment">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis incidunt quidem dolore ducimus provident aperiam delectus hic.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	{% block javascripts %}
		{{ parent() }}
		<script defer src="{{ asset('/js/rentalMaps.js') }}"></script>
		<script defer src="{{ asset('/js/sharePopup.js') }}"></script>
		<script defer src="{{ asset('/js/star.js') }}"></script>
		<script defer src="{{ asset('/js/reservation.js') }}"></script>

	{% endblock %}
{% endblock %}
