{% extends "template.html.twig" %}

{% block title %}Profil{% endblock %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block content %}
	<section class="profil">
		<div
			class="container-profil">
			<!-- fil d'ariane  breadcrumb -->
			<nav class="breadcrumb" aria-label="breadcrumb">
				<ol class="ol-breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('dashboard') }}">Dashboard</a>
					</li>
					<img src="{{ asset('/media/icon/fleche.svg') }}" alt="fleche">
					<li class="breadcrumb-item active" aria-current="page">Profil</li>
				</ol>
			</nav>

			<div class="title-img-btn">
				<h1>Mon Profil</h1>
				<div class="img-btn-profil">
					<div class="img">
						<img src="{{ asset('/media/icon/instagram.png') }}" alt="photo de profil">
					</div>
					<div class="btn-edit-delete">
						<button class="btn-edit">Modifier</button>
						<button class="btn-delete">delete</button>
					</div>
				</div>
			</div>

			<hr>

			<!-- profil -->
			<form action="{{ path('userProfilUpdate') }}" class="profil-information">
				<div class="name-lastname profil-edit">
					<label for="lastname-input">Nom</label >
					<input type="text" id="lastname-input" value="{{ dataP.lastname }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="name-input">prenom</label>
					<input type="text" id="name-input"  value="{{ dataP.firstname }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="email-input">Adresse e-mail</label>
					<input type="email" id="email-input"  value="{{ dataP.mail }}">
				</div>
				
				<div class="name-lastname profil-edit">
					<label for="phone-input">Numéro de téléphone</label>
					<input type="tel" id="phone-input"  value="{{ dataP.phone }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="id-card-input">Pièce d'identité officielle</label>
					<input type="file" id="id-card-input" class="file">
				</div>
				<div>
					<button type="submit" id="save-changes-btn">Enregistrer les modifications</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
