{% extends "template.html.twig" %}

{% block title %}Profil
{% endblock %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block content %}
	<section class="profil">
		<div
			class="container-profil">
			<!-- fil d'ariane  breadcrumb -->
			<nav class="breadcrumb" aria-label="breadcrumb">
				<ol class="ol-breadcrumb">

					<li class="breadcrumb-item">

						<a href="{{ path('dashboard') }}">
							&#x3008; Dashboard</a>
					</li>


				</ol>
			</nav>

			<div class="title-img-btn">
				<h1>Mon Profil</h1>
				<div class="img-btn-profil">

					<div class="img-profil">
						<form action="{{ path('editUserAvatar') }}" method="POST" enctype="multipart/form-data">
							<input type="file" name='avatar' id="profile-upload" accept="image/*" style="display: none;">
							<label for="profile-upload" class="profile-picture" id="profile-picture" style="background-image: url('{{ asset('/media/images/' ~ session.avatar) }}')"></label>

							{# <label for="profile-upload" class="profile-picture" id="profile-picture" style="background-image: url('{{ asset('/media/images/' ~ (session.avatar ?? 'user.svg')) }}')"></label> #}
							<input class="btn-edit" type="submit" value="Envoyer">
						</form>

					</div>
					<div class="name-lastname-email-number ">
						<div class="name-lasname">
							<span>Nom Prenom :</span>
							<ul>
								<li>{{ dataP.lastname }}</li>
								<li>{{ dataP.firstname }}</li>
							</ul>
						</div>
						<div class="email">
							<span>email :</span>
							<ul>
								<li>{{ dataP.mail }}</li>

							</ul>
						</div>
						<div class="number">
							<span>Numéro :</span>
							<ul>

								<li>{{ dataP.phone }}</li>
							</ul>
						</div>
						<div class="icon-edit-profil">
							<button class="edit-button " id="edit-icon">
								<svg class="edit-svgIcon" viewbox="0 0 512 512">
									<path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
								</svg>
							</button>
						</div>
					</div>
					<form class="profil-information" method="POST" action="{{ path('editUserProfil') }}">
						<div class="name-lastname profil-edit">
							<label for="lastname-input">Nom</label>
							<input name='lastname' type="text" id="lastname-input" value="{{ dataP.lastname }}" required>
						</div>
						<div class="name-lastname profil-edit">
							<label for="name-input">Prénom</label>
							<input name="firstname" type="text" id="name-input" value="{{ dataP.firstname }}" required>
						</div>
						<div class="name-lastname profil-edit">
							<label for="mail-input">Adresse e-mail</label>
							<input name="mail" type="email" id="mail-input" value="{{ dataP.mail }}" required>
						</div>
						<div class="name-lastname profil-edit">
							<label for="phone-input">Numéro de téléphone</label>
							<input name="phone" type="tel" id="phone-input" value="{{ dataP.phone }}" required>
						</div>
						<div class="name-lastname profil-edit">
							<label for="id-card-input">Pièce d'identité officielle</label>
							<input name="" type="file" id="id-card-input" class="file">
						</div>
						<div class="update-delete">
							<button type="submit" id="save-changes-btn">Enregistrer les modifications</button>
						</form>
						<form action="{{ path('deleteUserProfil') }}" method="POST">
							<button type="submit" id="delete-changes-btn">Supprimer profil</button>
						</form>

					</div>
				</div>

			</div>
		</section>


		<!-- profil -->


	{% endblock %}
	{% block javascripts %}
		{{ parent() }}<script defer src="{{ asset('/js/profil-picture.js') }}"></script>
	{% endblock %}
