{% extends "template.html.twig" %}

{% block title %}Profil
{% endblock %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block content %}
	<section class="profil">
		<div
			class="container-profil">
			<!-- fil d'ariane  breadcrumb -->
			<nav class="breadcrumb" aria-label="breadcrumb">
				<ol class="ol-breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path('dashboard') }}">Dashboard</a>
					</li>
					<img src="{{ asset('/media/icon/fleche.svg') }}" alt="fleche">
					<li class="breadcrumb-item active" aria-current="page">Profil</li>
				</ol>
			</nav>

			<div class="title-img-btn">
				<h1>Mon Profil</h1>
				<div class="img-btn-profil">
					<div class="img">
						<form action="">
							<input type="file" name='avatar' id="profile-upload" accept="image/*" style="display: none;">
							<label for="profile-upload" class="profile-picture" id="profile-picture" style="background-image: url('{{ asset('/media/icon/instagram.png') }}')"></label>
							<input class="btn-edit" type="submit" value="Update">
						</form>
					</div>

				</div>
			</div>

			<hr>

			<!-- profil -->
			<form class="profil-information" method="POST" action="{{ path('editUserProfil') }}">
				<div class="name-lastname profil-edit">
					<label for="lastname-input">Nom</label>
					<input name='lastname' type="text" id="lastname-input" value="{{ dataP.lastname }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="name-input">Prénom</label>
					<input name="firstname" type="text" id="name-input" value="{{ dataP.firstname }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="mail-input">Adresse e-mail</label>
					<input name="mail" type="email" id="mail-input" value="{{ dataP.mail }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="phone-input">Numéro de téléphone</label>
					<input name="phone" type="tel" id="phone-input" value="{{ dataP.phone }}">
				</div>
				<div class="name-lastname profil-edit">
					<label for="id-card-input">Pièce d'identité officielle</label>
					<input name="" type="file" id="id-card-input" class="file">
				</div>
				<div class="update-delete">
					<div>
						<button type="submit" id="save-changes-btn">Enregistrer les modifications</button>
					</div>
				</form>
				<form action="{{ path('deleteUserProfil') }}" method="POST">
					<div>
						<button type="submit" id="delete-changes-btn">Supprimer profil</button>
					</div>
				</form>

			</div>
		</section>
	{% endblock %}
