<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Trouver le gîte idéal pour vos vacances ou séjours."> {% block stylesheet %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('/css/font.css') }}">
		<link rel="stylesheet" href="{{ asset('/css/style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

		<title>
			{% block title %}{% endblock %}
		</title>

	</head>

	<body>
		{% block header %}{% endblock %}

		<main>
			{% block content %}{% endblock %}
		</main>


		{% include 'footer.html.twig' %}

		{% block javascript %}
			<script src="{{ asset('/js/main.js') }}"></script>
			<script src="{{ asset('/js/modal-footer.js') }}"></script>
			<script src="{{ asset('/js/calendrier.js') }}"></script>
			<script src="{{ asset('/js/sharePopup.js') }}"></script>
		{% endblock %}

	</body>
</html>
